
<div id="new-link">
  <form action="/add_link" method="post">
    Url:   <input type="text" name="url">
    Title: <input type="text" name="title">
    Tag:   <input type="text" name="tags">
           <input type="submit" value="Add link">
  </form>
</div>


<% @links.each do |link| %>
  <ul>
    <li><a href="http://<%= link.url %>"><%= link.title %></a></li>
  </ul>
<% end %>